@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root{
    --var-font-fam:"Amatic SC", sans-serif;
    
}
html{
    font-size: 16px;
}
body{
  font-family:var(--var-font-fam) ;
}
p,li{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media(max-width:786px){
    body{
        font-size: 12px !important;
    }
   main  h2{
        font-size: 2rem !important;
    }
}
.content-about p{
    font-size: 16px;
}
/* .about-as div .img-video-about{
        height: 45% !important;
    width: 100% !important;
} */