/* font Roboto in body */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* font tajwal in heding */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root{
    --var-font-fam-h:"Amatic SC", sans-serif;
    --var-font-fam: "Roboto", sans-serif;
    /* --var-font-size-normal:16px; */
    --var-color-primary:#CE1212
    
}
html{
    font-size: 16px;
}
body{
  font-family:var(--var-font-fam) ;
}
h1,h2,h3,h4{
font-family: var(--var-font-fam-h);
}
p,li{
    font-size: 1.5rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.color-primary{
    color: #CE1212!important;
}
.bg-btn{
    background-color: #CE1212;
}
.bg-btn:hover{
    background-color: rgb(56, 54, 55) !important;
    color: #CE1212 !important;
}
.bg-primary{
    background-color: #CE1212!important;
}
/* button{
    background-color: var(--var-color-primary)!important  ;
} */
@media(max-width:786px){
    body{
        font-size: 12px !important;
    }
   main  h2{
        font-size: 2rem !important;
    }
}
.content-about p{
    font-size: 16px;
}
/* .about-as div .img-video-about{
        height: 45% !important;
    width: 100% !important;
} */
 section.Rates{
    background-image: url(./imges/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;

 }
 @media(min-width:990px){
    .Rates{
    padding: 8rem 0px!important;
    }
 }
 .hero-image{
    /* animation-name: 'up';
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
  animation: up 2s ease-in-out infinite alternate-reverse both;

 }
 @keyframes up {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
.nav-item a:hover{
    color: var(--var-color-primary)!important;
}













html{
    scroll-behavior: smooth;
}
.GoToTopButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color:#CE1212 ;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 150px;
    cursor: pointer;
    transition: 0.2s;
}
.GoToTopButton:hover i{
    transform: translateY(3px);
}
.GoToTopButton:active{
    transform: translateY(6px);
}
.GoToTopButton i{
    color: white;
    font-size: 20px;
    transition: 0.2s;
}